.Nav{
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        font-size: 24px;
        margin-top: 5px;
        color: #fff;
    }
    .divform{
        margin-bottom: 10px;
        display: flex;
        flex-direction:row ;
        gap: 10px;
        align-items: center;
        .btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            color: #333;
            margin-left: 10px;
            display: flex;
            align-items: center;
            transition: color 0.3s;
            color: #adadad;
          
            &:hover {
              color: #007bff;
            }
          }
    }
    .form{
        display: flex;
        gap: 10px;
        margin-bottom: 0px;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        input{
            width: 220px;
            height: 20px;
        }

    }
}

      
      